<div class="row animated fadeIn">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6 left-box">
      <h1 class="float"><b>Hi there,</b></h1>
      <h4>My name's Joseph.</h4>
      <h3><i>I like to code, play chess, and laugh.</i></h3>
    </div>
    <div class="col-md-4 right-box animated fadeInRight">
      <h4>Programming is my art form.<br></h4>
      <h6>
        <p>Problems have all sorts of solutions. Like in art, how they're expressed depends on the person behind the code.
        While there are a myraid of issues in code, the best questions sit brewing in the back of my head without an answer.
        After all, only good questions can bear fruit to good answers.</p>
        
        <p>There's nothing quite like finding a clean solution to a complex problem.
        What I love about programming is its ability to immerse me completely. As a kid I would sit down for hours with a new book.
        There was something about the creak of the pages, the texture of pressed sheets, and the scent of freshly printed paper that kept me hooked.
        I could read for hours completely immersed in my imagination.</p>
      </h6>
    </div>
  </div>
</div>
