
<div class="row center-row">
  <i class="fa fa-linkedin-square" aria-hidden="true"></i><text> LinkedIn</text>
</div>
<div class="row center-row">
  <i class="fa fa-github" aria-hidden="true"></i><text> GitHub</text>
</div>
<div class="row center-row">
  <i class="fa fa-envelope" aria-hidden="true"></i><text> Email</text>
</div>
