<!-- intro blurb -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6 left-box">
      <h1 class="float"><b>Hi there,</b></h1>
      <h4>My name's Joseph.</h4>
      <h3><i>I like to code, play chess, and laugh.</i></h3>
    </div>
    <div class="col-md-4 right-box animated fadeInRight">
      <h4>Programming is my art form.<br></h4>
      <h6>
        Problems have all sorts of solutions, and how they're expressed depends on the programmer behind the code.
        What I love about programming is its ability to immerse me completely. As a kid I would sit down for hours with a new book.
        There was something about the creak of the pages, the texture of pressed sheets, and the scent of freshly printed paper.
        I could read for hours completely immersed in my imagination. There are problems of all types in code. The best problems sit brewing in my head
        without an answer. After all, only good questions can bring good answers. There's nothing quite like finding a clean solution to a complex problem.
        I also enjoy chess, music, dancing, and hanging good company.
      </h6>
    </div>
  </div>
</div>
