<div class="container">
  <div class="diagonal-header">
    <h1 class="text-white text-center">Know Your Spending Habits and Finances Inside Out</h1>
  </div>
  <div id="backshape">
    <div class="diagonal-wrapper">
      <div>
        Three Easy Steps:
        <ol>
          <li>Setup your budget</li>
          <li>Track your days expenses</li>
          <li>Understand your spending habits</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="diagonal-footer">
    <div class="text-center">
      Try Cingo
      Sign Up Button Here
    </div>
  </div>
</div>
