<div class="container">
  <div class="diagonal__header" style="background-image: url(/assets/landing_image.jpg);">
    <div class="diagonal__header--lead">WORK HARD LIVE LATER</div>
    <h3 class="diagonal__header--body">Use visual analytics to track how your daily limit fluctuates</h3>
    <a href="/users/sign_up"><button id="sign_up">Learn with BrunchBucks</button></a>
  </div>
  <div id="diagonal-container">
    <div id="diagonal">
      <div class="diagonal__adhead">
        <h2>Three Simple Steps</h2>
      </div>
      <div class="diagonal__adbox--l">
        <h4>Track your days expenses</h4>
        <p>Let us know about your expenses and we'll do the rest of the math for you. We keep track of your past expense history, budget for the month, and what your last recorded spending was.</p>
      </div>
      <div class="diagonal__adbox--r">
        <h4>Visualize your spending habits</h4>
        <p>We'll calculate and track your progress on your spending history. Get instant feedback on how much you can spend per day and how it flucutates throughout the month. Identify key patterns and motifs.</p>
      </div>
      <div class="diagonal__adbox--l">
        <h4>Put your money to work</h4>
        <p>Tweak and customize your budget to figure out what works best for you. Identify places for improvement based on your visualized spending habits.</p>
      </div>
    </div>
  </div>
  <div class="diagonal__footer">
    <div class="diagonal__footer--lead">
      Join us on BrunchBucks
    </div>
    <div class="diagonal__footer--body">
      <p>One last thing we want to mention is that budgeting isn't supposed to feel constricting (although it definitely does at first). We've found it into a more liberating feeling. You'll become more seasoned and known when to splurge money or tighten up the wallet. Let us give you the freedom of guilt free spending.</p>
      <a href="/users/sign_up"><button id="bottom_sign_up">Sign Up</button></a>
    </div>
  </div>
</div>
