<div class="row animated fadeIn">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <img src="/assets/jumper1.png" class="img-responsive" alt="image here"><div class="project-label">Jumper</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/wingme1.png" class="img-responsive" alt="image here"><div class="project-label">WingMe</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/csgo1.png" class="img-responsive" alt="image here"><div class="project-label">CS:Go Webcrawler</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/arcadia1.png" class="img-responsive" alt="image here"><div class="project-label">Arcadia Healthcare Solutions</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/mackey1.png" class="img-responsive" alt="image here"><div class="project-label">MackeyRMS</div>
    </div>
  </div>
</div>
