<!-- project images -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <img src="/assets/jumper1.png" class="img-responsive" alt="image here">WingMe
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper2.png" class="img-responsive" alt="image here">Jumper
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper3.png" class="img-responsive" alt="image here">CS:Go Webcrawler
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper4.png" class="img-responsive" alt="image here">Arcadia Healthcare Solutions
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper5.png" class="img-responsive" alt="image here">MackeyRMS
    </div>
  </div>
</div>
