<!-- project images -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
      <img src="/assets/jumper1.png" class="img-responsive" alt="image here"><div class="project-label">WingMe</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper2.png" class="img-responsive" alt="image here"><div class="project-label">Jumper</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper3.png" class="img-responsive" alt="image here"><div class="project-label">CS:Go Webcrawler</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper4.png" class="img-responsive" alt="image here"><div class="project-label">Arcadia Healthcare Solutions</div>
    </div>
    <div class="col-md-6">
      <img src="/assets/jumper5.png" class="img-responsive" alt="image here"><div class="project-label">MackeyRMS</div>
    </div>
  </div>
</div>
