.panelContainer {
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  padding: 1em;
  margin: 1em 0;
}

#dsqPanelContainer {
  @extend .panelContainer;
}

#annualBudgetContainer {
  @extend .panelContainer;
}

.daily-limit-panel {
  @extend .panelContainer;
  display: flex;
  flex-flow: row;

  .daily-limit-panel__left {
    width: 100%;
  }
  
  .daily-limit-panel__right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;

    .daily-limit-panel__right--spd {
      text-align: center;
      width: 100%;    
    }
    
    .daily-limit-panel__right--submit {
      text-align: right;
      
      input {
        padding: 1em;
      }
    }    
  }
}

input[type="number"].small-width-input,
input[type="text"].small-width-input {
  width: 50%;
}

label {
  display: inline-block;
  text-align: left;
}

.dsq-date-filter {
  display: flex;
  
  .dsq-date-filter--option {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
  }
}

.select-style {
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  width: 120px;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.ab-row {
  display: flex;
  
  .ab-row__item--remove-item {
    cursor: pointer;
    cursor: hand;
  }
  
  .ab-row__item {
    &:nth-child(1) {
      flex-basis: 5em;
      text-align: center;
    }

    &:nth-child(2) {
      flex-basis: 12em;
      margin: 0 0.5em;
    }
    
    &:nth-child(3) {
      flex-basis: 8em;        
      margin: 0 0.5em;
    }
    
    &:nth-child(4) {
      flex-basis: 45em;
    }
    
    &:nth-child(5) {
      flex-basis: 10em;
    }      
  }
}

.ab-list {
  list-style-type: none;
  padding-left: 0;
}
