.daily-spending-calc {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

input[type="number"].small-width-input,
input[type="text"].small-width-input {
  width: 50%;
}

label {
  display: inline-block;
  text-align: left;
}
