#landing-container {
  @include clearfix;
  margin: auto;
  max-width: 70em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;  
}

.diagonal__header {
  background-size:cover;
  height:600px;
  margin-top:2px;
  position:relative;
  text-align: center;
  width:100%;
}

#diagonal-container {
  background-color: $blue;
  display:block;
  float:left;
  margin-top:-100px;
  transform:skew(0deg,10deg);
  width:100%;
  z-index:1;
  -ms-transform:skew(0deg,10deg); /* IE 9 */
  -webkit-transform:skew(0deg,5deg); /* Safari and Chrome */
  
  #diagonal {
    display:block;
    float:left;
    margin: 5em 0;
    padding:0 5%;
    transform:skew(0deg,-5deg);
    width:100%;
    -ms-transform:skew(0deg,-10deg);
    -webkit-transform:skew(0deg,-5deg); 
  }
}
.diagonal__header--lead {
  color:$white;
  font-size: 3.5em;
  margin: auto;
  max-width:15em;
  padding-top:2em;
}

.diagonal__header--body {
  color:$white;
}

.diagonal__adhead {
  color: $white;
  text-align: center;
}

.diagonal__adbox {
  @include clearfix;
  padding-top: 2em;
  
  .diagonal__adbox--l,
  .diagonal__adbox--r, {
    @include span-columns(6);
    color: $white;
  }

  .diagonal__adbox--l {
    text-align: left;
  }

  .diagonal__adbox--r {
    text-align: right;
  }  
}

.diagonal__footer {
  margin-top: 80em;

  @include media ($mobile) {
    margin-top: 72em;
  }
  
  .diagonal__footer--lead {
    font-size: 3.5em;
    font-family: $secondary-font-family;
    text-align: center;
  }

  .diagonal__footer--body {
    text-align: center;
    max-width: 55em;
    margin: auto;
    padding: 0 2em;
  }
}
