<!-- navbar -->
<div class="row">
  <div class="col-md-2 col-md-offset-2 header">
    <a href="#"><h1>Home</h1></a>
  </div>
  <div class="col-md-2 header">
    <a href="#"><h1>Experience</h1></a>
  </div>
  <div class="col-md-2 header">
    <a href="#"><h1>Blog</h1></a>
  </div>
  <div class="col-md-2 header">
    <a href="#"><h1>Contact</h1></a>
  </div>
</div>
<hr>

<!-- intro blurb -->
<div class="row">
  <div class="col-md-6 left-box">
    <h1><b>Hi there,</b></h1>
    <h3>My name's Joseph.</h3>
    <h4><i>I like to code, play chess, and laugh.</i></h4>
  </div>
  <div class="col-md-5 right-box animated fadeInUp">
    <h5>
      Programming is my art form. Problems have all sorts of solutions, and how they're expressed depends on the programmer behind the code.
      What I love about programming the most is its ability to immerse me completely. As a kid I would sit down with a new book for hours.
      There was something about the texture of the pages, the creak of pressed sheets being lifted up, and the light whiff of freshly printed paper.
      I could read for hours completely immersed in my imagination. There are problems of all types in code. The best problems sit brewing for
      days before coming up with an answer. Only good questions can bring good answers. When I dive deep in a problem, expand on ideas with others,
      and expand again. There's nothing quite like finding a clean solution to a complex problem.
      I also enjoy chess, music, dancing, and hanging good company.
    </h5>
  </div>
</div>
