.intro {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 55em;
  
  .intro__picture {
    width: 50%;
    img {
      border-radius: 25px;
      height: 350px;      
    }
  }

  .intro__description {
    width: 50%;
  }
}

.project__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3em;
  margin-right: 3em;
}

.project__list--label {
  float: left;
  padding: 1em;
  width: 50%;
}

.project__list--image {
  float: left;
  width: 45%;
}

.aboutme__footer {
  background-color: #2f2f2f;
  color: white;
  padding: 1em;
  text-align: right;
  
  a {
    color: white;
    &:hover {
      color: $blue;      
    }
  }  
}
