/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *    
 *= require_self
 */

@import "animate";
@import "css-device-mockup";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "layout";

/* =============================================================================
  ANIMATIONS
============================================================================= */
@keyframes float {
  100% {
    transform: translateY(0);
  }
}
@keyframes bob {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

.float {
  animation-name: float, bob;
  animation-duration: 0.3s, 0.7s;
  animation-timing-function: ease-out, ease-in-out;
  animation-delay: 0s, 0.3s;
  animation-direction: normal, alternate;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}

// $blue: #2980b9;				// Belize Hole
// /* =============================================================================
//   LANDING PAGE STUFF
// ============================================================================= */
// .splash {
//   padding-top: 2em;
// }
// 
// .splash__text {
//   float: left;
// }
// 
// .splash__picture {
//   border-radius: 25px;
//   height: 400px;
// }
// 
// /* =============================================================================
//   BASE LAYOUT STUFF
// ============================================================================= */
// 
// /* =============================================================================
//   CONTAINERS
// ============================================================================= */
// .project__list--label {
//   padding: 0 1em;
// }
// 
// .project__list {
//   padding-bottom: 3em;
//   
//   .row {
//     padding: 1.5em;
//   }
// }
// 
// /* =============================================================================
//   FOOTER STUFF
// ============================================================================= */
// footer {
//   text-align: right;
//   padding: 1em 0;
//   background-color: #fff;
//   
//   a:hover {
//     color: $blue;
//   }
// }
// 
// /* =============================================================================
//   LINKS
// ============================================================================= */
// a {
//   /* First we need to help some browsers along for this to projects.
//      Just because a vendor prefix is there, doesn't mean it will
//      projects in a browser made by that vendor either, it's just for
//      future-proofing purposes I guess. */
//   -o-transition:.5s;
//   -ms-transition:.5s;
//   -moz-transition:.5s;
//   -webkit-transition:.5s;
//   /* ...and now for the proper property */
//   transition:.5s;
// }
// 
// a:hover {
//   text-decoration: none;
// }
// 
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
