$turquoise: #7FC6DB;

html {
  background: white;
}

body {
  margin: 0 10%;
}

html,
body {
  height: 100%;
}

.modal-dialog {
  width: 70%;
}

.navbar {
  background-color: white;
  padding-bottom: 2%;
}

.navbar__item {
  text-align: center;
  padding-top: 1%;
  
  a {
    color: $turquoise;
  }
}

.navbar__item--hover {
  a:hover {
    color: black;
  }  
}

.left-box {
  text-align: right;
  padding-top: 10%;
  padding-right: 10%;
}

.right-box {
  text-align: left;
  padding-top: 5%;
}

a {
  /* First we need to help some browsers along for this to projects.
     Just because a vendor prefix is there, doesn't mean it will
     projects in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a:hover {
  text-decoration: none;
}

.row-padding {
  margin: 3% 0;
}

.contact-container {
  text-align: center;
  font-size: 42px;  
}

.project-img {
  width: 300px;
  height: 300px;
}

@keyframes float {
  100% {
    transform: translateY(0);
  }
}
@keyframes bob {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

.float {
  animation-name: float, bob;
  animation-duration: 0.3s, 0.7s;
  animation-timing-function: ease-out, ease-in-out;
  animation-delay: 0s, 0.3s;
  animation-direction: normal, alternate;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}
