.header {
  text-align: center;
  padding-top: 1%;
}

.left-box {
  text-align: right;
  padding-top: 10%;
  padding-right: 10%;
}

.right-box {
  text-align: left;
  padding-top: 5%;
}

a {
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a:hover {
  text-decoration: none;
}

.center-row {
  text-align: center;
  font-size: 32px;
}
