.header {
  text-align: center;
  padding-top: 1%;
}

.left-box {
  text-align: right;
  padding-top: 10%;
  padding-right: 10%;
}

.right-box {
  text-align: left;
  padding-top: 5%;
}

a {
  /* First we need to help some browsers along for this to projects.
     Just because a vendor prefix is there, doesn't mean it will
     projects in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a:hover {
  text-decoration: none;
}

.row-padding {
  margin: 3% 0;
}

.contact-container {
  text-align: center;
  font-size: 42px;  
}

.project-img {
  width: 300px;
  height: 300px;
}

.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

.darken img {
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.darken:hover img {
    opacity: 0.8;

}

@keyframes float {
  100% {
    transform: translateY(0);
  }
}
@keyframes bob {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

.float {
  animation-name: float, bob;
  animation-duration: 0.3s, 0.7s;
  animation-timing-function: ease-out, ease-in-out;
  animation-delay: 0s, 0.3s;
  animation-direction: normal, alternate;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}
