<!DOCTYPE html>
<html>
<!-- maximum-scale=1 and user-scalable=no prevents zooming on mobile apps -->
<head name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>PersonalBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-75226121-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    <div class="col-md-12">
      <!-- navbar -->
      <div class="row">
        <div class="col-md-2 col-md-offset-2 header">
          <a href="/"><h3>Home</h3></a>
        </div>
        <div class="col-md-2 header">
          <a href="/about"><h3>About</h3></a>
        </div>
        <div class="col-md-2 header">
          <a href="/projects"><h3>Projects</h3></a>
        </div>
        <div class="col-md-2 header">
          <a href="/posts"><h3>Blog</h3></a>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
