<!DOCTYPE html>
<html>
<!-- maximum-scale=1 and user-scalable=no prevents zooming on mobile apps -->
<head name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Joseph Cho Portfolio Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="container">
      <div class="navbar__item--left">
        <a href="smartermillennial.com" alt="millennial personal finance"><h3>Blog</h3></a>
      </div>
      <div class="navbar__item--right">
        <a href="/about"><h3>About</h3></a>
      </div>
    </div>
  </nav>
    
  <div class="container">
    <%= yield %>  
  </div>
    
  <footer>
    <div class="container">
      <div class="row">
        <a href="https://www.linkedin.com/in/jscho13" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://github.com/jscho13" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://twitter.com/jscho13" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
        <span>© 2016 by Joseph Cho. All Rights Reserved.</span>
      </div>
    </div>
  </footer>
</body>
</html>
