<!DOCTYPE html>
<html>
<!-- maximum-scale=1 and user-scalable=no prevents zooming on mobile apps -->
<head name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>PersonalBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <!-- navbar -->
      <div class="row">
        <div class="col-md-2 col-md-offset-2 header">
          <a href="/"><h3>Home</h3></a>
        </div>
        <div class="col-md-2 header">
          <a href="/work"><h3>Work</h3></a>
        </div>
        <div class="col-md-2 header">
          <a href="/blog"><h3>Blog</h3></a>
        </div>
        <div class="col-md-2 header">
          <a href="/contact"><h3>Contact</h3></a>
        </div>
      </div>
      <hr>
        <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
